.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 60vh;
  background-color: #424242;
}

h1 {
  text-align: center;
  font-size: 7rem;
  color: rgb(238, 138, 15);
  margin-top: 10%;
  margin-bottom: 10%;
}

.pay-btn {
  background-color: black;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 1rem;
  width: 30%;
  display: block;
  text-align: center;
}

.pay-btn:hover {
  background: #fff;
  color: black;
}
