<table mat-table [dataSource]="reservations" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.day.day }} {{ element.day.weekday }} {{ element.day.month }}
      {{ element.day.year }}
    </td>
  </ng-container>

  <ng-container matColumnDef="timeframe">
    <th mat-header-cell *matHeaderCellDef>Timeframe</th>
    <td mat-cell *matCellDef="let element">{{ element.timeframe }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="element.status">
        <div
          *ngSwitchCase="'active'"
          class="cancel-btn"
          (click)="cancelHandler(element._id)"
        >
          Cancel
        </div>
        <div *ngSwitchCase="'complete'" class="complete">Complete</div>
        <div *ngSwitchCase="'canceled'" class="canceled">Canceled</div>
        <div *ngSwitchDefault>Error</div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
