<form [formGroup]="myForm" (ngSubmit)="submitHandler()">
  <h1>Please enter an email for the new admin account</h1>
  <input
    type="email"
    id="email"
    placeholder="example@example.com"
    formControlName="email"
    [ngClass]="{
      'invalid-control':
        myForm.get('email').touched && !myForm.get('email').valid,
      control: true
    }"
  />
  <p
    class="error-msg"
    *ngIf="myForm.get('email').touched && !myForm.get('email').valid"
  >
    Please enter a valid email address
  </p>
  <button class="btn" type="submit" [disabled]="myForm.invalid || isLoading">
    Create Admin Account
  </button>
  <p
    [ngClass]="{
      'success-msg': message === 'Admin Created',
      'error-msg': message !== 'Admin Created',
      msg: true
    }"
    *ngIf="!!message"
  >
    {{ message }}
  </p>
</form>
