<div class="body-sub">
  <div class="v-div container">
    <div class="fullscrean-video-wrap">
      <video src="{{ videolink }}" autoplay="true" loop="true"></video>
    </div>
    <div class="div-overlay"></div>
    <div class="div-content">
      <h1>THE ARENA AWAITS</h1>
      <p>
        Don`t miss out on a adrenalin full, blood pumping adventure ! Gather
        some friends and jump right in !
      </p>
      <a routerLink="/login" routerLinkActive="active" class="div-btn"
        >Sign In</a
      >
    </div>
  </div>

  <!-- <section class="section section-a">
    <div class="container">
      <h1>Section A</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta error
        harum explicabo laboriosam quaerat dolor nemo et sunt veniam. Ex eaque
        eligendi cumque in temporibus voluptatem facere modi! Deleniti illum
        ducimus pariatur inventore dolore tenetur ab suscipit debitis a mollitia
        odio sunt est consequatur molestiae voluptatum, beatae fugiat officia
        perspiciatis.
      </p>
    </div>
  </section>

  <section class="section section-b">
    <div class="container">
      <h1>Section B</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta error
        harum explicabo laboriosam quaerat dolor nemo et sunt veniam. Ex eaque
        eligendi cumque in temporibus voluptatem facere modi! Deleniti illum
        ducimus pariatur inventore dolore tenetur ab suscipit debitis a mollitia
        odio sunt est consequatur molestiae voluptatum, beatae fugiat officia
        perspiciatis.
      </p>
    </div>
  </section> -->
</div>
