<div class="body-sub">
  <div class="v-div container">
    <div class="fullscrean-video-wrap">
      <video src="{{ videolink }}" autoplay="true" loop="true"></video>
    </div>
    <div class="div-overlay"></div>
    <div class="div-content">
      <div *ngIf="!userService.isLogged; else elseBlock">
        <h1>THE ARENA AWAITS</h1>
        <p>
          Don`t miss out on a adrenalin full, blood pumping adventure ! Gather
          some friends and jump right in !
        </p>
        <a routerLink="/login" class="div-btn">Sign In</a>
      </div>

      <ng-template #elseBlock>
        <h1>Welcome {{ userService.currentUser.username }} !</h1>
        <p>Nice to see you here! What are you waiting for ?</p>
        <a routerLink="/reserve" class="div-btn">RESERVE</a>
      </ng-template>
    </div>
  </div>
</div>
