* {
  box-sizing: border-box;
}

.body-sub {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.v-div {
  height: 100vh; /*  100vh  */
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscrean-video-wrap {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscrean-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.div-overlay {
  height: 100vh; /*  100vh  */
  width: 100%; /*  100vw  */
  position: absolute;
  top: 48px;
  left: 0;
  background: #0c1316;
  z-index: 1;
  opacity: 0.75;
}

.div-content {
  background: rgb(238, 138, 15);
  color: black;
  z-index: 2;
  height: 50vh;
  width: 60vw;
  padding-top: 10%;
  display: inline;
  margin: 0 auto;
}
/* .div-content-logged {
  background: rgb(238, 138, 15);
  color: black;
  z-index: 2;
  display: inline;
  margin: 0 auto;
  height: 400px;
  padding-top: 10%;
}

.div-content-logged h1 {
  background: rgb(238, 138, 15);
  font-size: 50px;
  margin-bottom: 0;
}
.div-content-logged p {
  background: rgb(238, 138, 15);
  font-size: 1.5rem;
  display: block;
  padding: 2rem;
} */

.infoBlock {
  background: rgb(238, 138, 15);
}

.div-content h1 {
  background: rgb(238, 138, 15);
  font-size: 50px;
  margin-bottom: 0;
}
.div-content p {
  background: rgb(238, 138, 15);
  font-size: 1.5rem;
  display: block;
  padding: 2rem;
}
.div-btn {
  background: rgb(238, 138, 15);
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.div-btn > a {
  background-color: black;
}

.div-btn :hover {
  background: #fff;
  color: black;
}

.section {
  padding: 20px 0;
}

.section-b {
  background: #333;
  color: #fff;
}

@media (max-width: 960px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
