<form class="container" (ngSubmit)="submitHandler()" [formGroup]="myForm">
  <label for="newPass">New Password</label>
  <input
    type="text"
    placeholder="Enter new password"
    id="newPass"
    formControlName="newPass"
    [ngClass]="{
      'invalid-control':
        myForm.get('newPass').touched && !myForm.get('newPass').valid,
      control: true
    }"
  />
  <p
    class="error-msg"
    *ngIf="myForm.get('newPass').touched && !myForm.get('newPass').valid"
  >
    Password is required and must be at least 5 symbols
  </p>
  <label for="rePass">Repeat Password</label>
  <input
    type="text"
    placeholder="Repeat the new password"
    id="rePass"
    formControlName="rePass"
    [ngClass]="{
      'invalid-control':
        myForm.get('rePass').touched && !myForm.get('rePass').valid,
      control: true
    }"
  />
  <p
    class="error-msg"
    *ngIf="myForm.get('rePass').touched && !myForm.get('rePass').valid"
  >
    Passwords must match !
  </p>
  <button class="btn" type="submit" [disabled]="myForm.invalid || isLoading">
    Submit
  </button>
  <p
    [ngClass]="{
      'error-msg': message !== 'Password Changed!',
      'success-msg': message === 'Password Changed!'
    }"
    *ngIf="!!message && myForm.pristine"
  >
    {{ message }}
  </p>
</form>
