<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Create Admin</mat-panel-title>
    </mat-expansion-panel-header>
    <app-create></app-create>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Delete User</mat-panel-title>
    </mat-expansion-panel-header>
    <app-delete></app-delete>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Revenue and Reservations Made</mat-panel-title>
    </mat-expansion-panel-header>
    <app-revenue-by-date></app-revenue-by-date>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Reservations By User</mat-panel-title>
    </mat-expansion-panel-header>
    <app-search-user></app-search-user>
  </mat-expansion-panel>
</mat-accordion>
