input[type="email"] {
  width: 60%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px auto;
}

.error-msg {
  color: red;
}

.success-msg {
  color: green;
}

.btn {
  width: 60%;
  background-color: rgb(238, 138, 15);
  color: black;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px auto;
  display: block;
}

.btn:hover {
  background-color: black;
  color: white;
}
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.invalid-control {
  box-shadow: 0px 0px 5px 4px red;
}

.msg {
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

p {
  text-align: center;
}
