.invalid-control {
  box-shadow: 0px 0px 5px 4px red;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.control,
label,
.error-msg {
  width: 80%;
  color: rgb(238, 138, 15);
}

label,
.error-msg,
.success-msg {
  margin: 0 auto;
}

.control,
.btn {
  margin: 10px auto;
}
.control {
  height: 20px;
}

.btn {
  border-radius: 0;
  border: none;
  width: 80%;
  height: 30px;
  color: black;
  text-align: center;
  background-color: rgb(238, 138, 15);
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.error-msg {
  color: red;
}

.success-msg {
  color: green;
}
