<nav>
  <div *ngIf="!userService.isLogged; else elseBlock">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Sign In</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
  </div>

  <ng-template #elseBlock>
    <ul class="fullBar">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/reserve" routerLinkActive="active">Reserve</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>

      <li>
        <a
          class="canPoint"
          (click)="userService.logout()"
          routerLinkActive="active"
          >Log Out</a
        >
      </li>
    </ul>
  </ng-template>
</nav>
