<app-loading *ngIf="isLoading; else loadedBlock"></app-loading>

<ng-template #loadedBlock>
  <div class="headline">
    <h1>{{ month.name }} - {{ month.year }}</h1>
  </div>

  <div class="calendar">
    <div class="day" *ngFor="let days of month.days; let i = index">
      <div
        [routerLink]="['/details', days._id]"
        [ngClass]="{
          name: true,
          container: true,
          weekend: days.dayOfWeek === 'Sunday' || days.dayOfWeek === 'Saturday',
          borders: true,
          disabled:
            days.firstFrame.length === 1 &&
            days.secondFrame.length === 1 &&
            days.thirdFrame.length === 1
        }"
        *ngIf="
          days._id != 'xxxxxx' &&
            today < days.date &&
            (days.firstFrame.length === 0 ||
              days.secondFrame.length === 0 ||
              days.thirdFrame.length === 0);
          else elseBlock
        "
      >
        <div *ngIf="i < 7">
          <h1>{{ days.dayOfWeek }}</h1>
        </div>
        <h2>{{ days.date }}</h2>
      </div>
      <ng-template #elseBlock>
        <div
          [ngClass]="{
            name: true,
            container: true,
            weekend:
              days.dayOfWeek === 'Sunday' || days.dayOfWeek === 'Saturday',
            disabled: true
          }"
        >
          <div *ngIf="i < 7">
            <h1>{{ days.dayOfWeek }}</h1>
          </div>
          <h2 *ngIf="days.date > 0">{{ days.date }}</h2>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
