@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
* {
  font-family: "Squada One", cursive;
  background-color: #565d61;
}
.calendar {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.day {
  /* border-bottom: 1px solid #dadce0;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray; */
  text-align: center;
  padding-top: 5px;
  margin-top: 1px;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
}

.container {
  height: 80%;
  width: 90%;
}

.name {
  padding-bottom: 5px;
}

.weekend {
  color: red;
}

.disabled {
  color: white;
  border: medium solid white;
}

.headline {
  width: 50%;
  margin: 0 auto;
}

.headline h1 {
  color: rgb(238, 138, 15);
  line-height: 100px;
  text-align: center;
  background-color: #565d61;
}

.borders {
  border: medium solid rgb(238, 138, 15);
}
.borders:not(.weekend) {
  color: rgb(238, 138, 15);
}
