<app-loading *ngIf="isLoading; else loadedBlock"></app-loading>

<ng-template class="container" #loadedBlock>
  <!-- <div class="headline">
    <h1>{{ month.name }} - {{ month.year }}</h1>
  </div>

  <div class="calendar">
    <div class="day" *ngFor="let days of month.days; let i = index">
      <div
        [routerLink]="['/details', days._id]"
        [ngClass]="{
          name: true,
          container: true,
          weekend: days.dayOfWeek === 'Sunday' || days.dayOfWeek === 'Saturday',
          borders: true
        }"
        *ngIf="
          days._id != 'xxxxxx' &&
            today < days.date &&
            !(
              !!days.firstFrame.length &&
              !!days.secondFrame.length &&
              !!days.thirdFrame.length
            );
          else elseBlock
        "
      >
        <div *ngIf="i < 7">
          <h1>{{ days.dayOfWeek }}</h1>
        </div>
        <h2>{{ days.date }}</h2>
        <div class="taken" *ngIf="days.firstFrame.length === 1">
          08:00-12:00
        </div>
        <div class="taken" *ngIf="days.secondFrame.length === 1">
          13:00-17:00
        </div>
        <div class="taken" *ngIf="days.thirdFrame.length === 1">
          17:00-21:00
        </div>
      </div>
      <ng-template #elseBlock>
        <div
          [ngClass]="{
            name: true,
            container: true,
            weekend:
              days.dayOfWeek === 'Sunday' || days.dayOfWeek === 'Saturday',
            disabled: true
          }"
        >
          <div *ngIf="i < 7">
            <h1>{{ days.dayOfWeek }}</h1>
          </div>
          <h2 *ngIf="days.date > 0">{{ days.date }}</h2>
          <div class="taken" *ngIf="days.firstFrame.length === 1">
            08:00-12:00
          </div>
          <div class="taken" *ngIf="days.secondFrame.length === 1">
            13:00-17:00
          </div>
          <div class="taken" *ngIf="days.thirdFrame.length === 1">
            17:00-21:00
          </div>
        </div>
      </ng-template>
    </div>
  </div> -->

  <mat-card class="calendar-card">
    <mat-calendar
      [minDate]="minDate"
      (selectedChange)="onSelect($event)"
    ></mat-calendar>
  </mat-card>
  <app-day-query
    [isTouched]="isTouched"
    [isDisabled]="isDisabled"
    [dayData]="selectedDay"
    [maxPeople]="40"
    [reservationRoute]="'/reserve'"
  ></app-day-query>
</ng-template>
