@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
* {
  font-family: "Squada One", cursive;
}

h1 {
  color: rgb(238, 138, 15);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.container {
  width: 70vw;
  margin: 0 auto;
}
