<div class="container">
  <form class="register" [formGroup]="form" (ngSubmit)="submitHandler()">
    <h2>Register Form</h2>
    <div class="field">
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="example@example.com"
        formControlName="email"
        [class.input-error]="
          (form.get('email').touched && form.get('email').errors?.required) ||
          form.get('email').errors?.minlength ||
          form.get('email').errors?.emailValidator
        "
      />
    </div>
    <p
      *ngIf="
        (form.get('email').touched && form.get('email').errors?.required) ||
        form.get('email').errors?.minlength ||
        form.get('email').errors?.emailValidator
      "
      class="error"
    >
      Please enter a valid email address!
    </p>
    <div class="field">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="*****"
        [class.input-error]="
          (form.get('password').touched &&
            form.get('password').errors?.required) ||
          form.get('password').errors?.rePasswordValidator ||
          form.get('password').errors?.minlength
        "
      />
    </div>
    <p
      *ngIf="
        (form.get('password').touched &&
          form.get('password').errors?.required) ||
        form.get('password').errors?.rePasswordValidator ||
        form.get('password').errors?.minlength
      "
      class="error"
    >
      Password should be at least 5 characters long
    </p>
    <div class="field">
      <label for="rePassword">Repeat Password:</label>
      <input
        type="password"
        name="rePassword"
        id="rePassword"
        formControlName="rePassword"
        placeholder="*****"
        [class.input-error]="
          form.get('rePassword').touched &&
          form.get('rePassword').errors?.rePasswordValidator
        "
      />
    </div>
    <p
      *ngIf="
        form.get('rePassword').touched &&
        form.get('rePassword').errors?.rePasswordValidator
      "
      class="error"
    >
      Passwords should match
    </p>

    <div class="field">
      <label class="privacy" for="consentPrivacy"
        >I have read and agree to the
        <a href="#">Privacy Policy </a>
      </label>
      <input
        type="checkbox"
        name="consentPrivacy"
        id="consentPrivacy"
        formControlName="consentPrivacy"
        [class.input-error]="
          form.get('consentPrivacy').touched &&
          form.get('consentPrivacy').errors
        "
      />
    </div>

    <p
      *ngIf="
        form.get('consentPrivacy').touched && form.get('consentPrivacy').errors
      "
      class="error"
    >
      You must accept the privacy policy in order to continue
    </p>
    <button class="btn" [disabled]="form.invalid || isLoading">Register</button>
    <p *ngIf="!!apiError" class="error">{{ apiError }}</p>
    <p><a routerLink="/reset">Forgot password?</a></p>
  </form>
</div>
