<form class="register" [formGroup]="form" (ngSubmit)="submitHandler()">
  <fieldset>
    <h2>Register Form</h2>
    <div class="field">
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="paintbaLLover"
        formControlName="username"
        [class.input-error]="
          (form.get('username').touched &&
            form.get('username').errors?.required) ||
          form.get('username').errors?.minlength ||
          form.get('username').errors?.usernameValidator
        "
      />
    </div>
    <p
      *ngIf="
        (form.get('username').touched &&
          form.get('username').errors?.required) ||
        form.get('username').errors?.minlength ||
        form.get('username').errors?.usernameValidator
      "
      class="error"
    >
      Username should be at least 5 characters long and contain only numbers and
      letters
    </p>
    <div class="field">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="****"
        [class.input-error]="
          (form.get('password').touched &&
            form.get('password').errors?.required &&
            form.get('password').errors?.rePasswordValidator) ||
          form.get('password').errors?.minlength
        "
      />
    </div>
    <p
      *ngIf="
        (form.get('password').touched &&
          form.get('password').errors?.required &&
          form.get('password').errors?.rePasswordValidator) ||
        form.get('password').errors?.minlength
      "
      class="error"
    >
      Password should be at least 5 characters long
    </p>
    <div class="field">
      <label for="rePassword">Repeat Password:</label>
      <input
        type="password"
        name="rePassword"
        id="rePassword"
        formControlName="rePassword"
        placeholder="********"
        [class.input-error]="
          form.get('rePassword').touched &&
          form.get('rePassword').errors?.rePasswordValidator
        "
      />
    </div>
    <p
      *ngIf="
        form.get('rePassword').touched &&
        form.get('rePassword').errors?.rePasswordValidator
      "
      class="error"
    >
      Passwords should match
    </p>
  </fieldset>

  <button [disabled]="form.invalid || isLoading">Register</button>
</form>
