@import "~@angular/material/theming";

@include mat-core();

$my-theme-primary: mat-palette($mat-orange, 600, A700);
$my-theme-secondary: mat-palette($mat-gray, 900, A700);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-dark-theme(
  $my-theme-primary,
  $my-theme-secondary,
  $my-theme-warn
);

@include angular-material-theme($my-theme);
